@model MetroDocs.Models.UserItem

@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>            
                @Html.ActionLink(Model.FullName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-warning btn-sm mr-1" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-sm">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("New User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger btn-sm" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-warning m-1" })</li>
    </ul>
}
