@{
    ViewBag.Title = "Reset password confirmation";
}

    <div class="row">
        <div class="col-4 offset-4 border border-info mt-4 p-2">
            <h5 class="text-success text-center">@ViewBag.Title</h5>
            <hr />
            <div class="form-group">
                Your password has been reset. Please @Html.ActionLink("Click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",@class="btn btn-sm btn-success" })
            </div>
        </div>
    </div>